@model EditMemberViewModel
<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit User @Model.Member.Id</h3>
        <form asp-action="EditMember" asp-controller="Admin" asp-route-id="@Model.Member.Id" method="post">
            <input type="hidden" asp-for="Member.Active" />
            <input type="hidden" asp-for="Member.Departed" />
            <input type="hidden" asp-for="Member.DepartedReason" />
            <input type="hidden" asp-for="Member.Joined" />

            <div class="form-group">
                <label asp-for="Member.FirstName">First Name</label>
                <input asp-for="Member.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Member.LastName">Last Name</label>
                <input asp-for="Member.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Member.UserEmail">Email</label>
                <input asp-for="Member.UserEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input asp-for="IsAdmin" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Admin</span>
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>