@model AdminIndexViewModel
<div class="row">
    <div class="col-12">
        <h4>Users</h4>
        <label class="custom-control custom-checkbox">
            <input id="hide-inactive" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Hide inactive</span>
        </label>
        <table class="table table-hover tablesorter">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                    <tr class="@(member.Active ? "active" : "inactive")">
                        <td>@member.FirstName @member.LastName</td>
                        <td>@member.UserEmail</td>
                        <td>@member.Active</td>
                        <td>
                            <form id="deactivate-member-form-@member.Id" asp-action="DeactivateMember" asp-controller="Admin" method="post">
                                <input type="hidden" id="id" name="id" value="@member.Id" />
                            </form>
                            <form id="activate-member-form-@member.Id" asp-action="ActivateMember" asp-controller="Admin" method="post">
                                <input type="hidden" id="id" name="id" value="@member.Id" />
                            </form>
                            <form id="reset-member-password-form-@member.Id" asp-action="ResetMemberPassword" asp-controller="Admin" method="post">
                                <input type="hidden" id="id" name="id" value="@member.Id" />
                            </form>
                            <div class="btn-group">
                                @if (member.Active)
                                {
                                    <button class="btn btn-secondary" type="submit" onclick="$('#deactivate-member-form-@member.Id').submit()">Deactivate</button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary" type="submit" onclick="$('#activate-member-form-@member.Id').submit()">Activate</button>
                                }
                                @if (!string.IsNullOrEmpty(member.UserEmail))
                                {
                                    <button class="btn btn-secondary" type="submit" onclick="$('#reset-member-password-form-@member.Id').submit()">Reset Password</button>
                                }
                                <a class="btn btn-secondary" asp-action="EditMember" asp-controller="Admin" asp-route-id="@member.Id">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(".tablesorter").tablesorter({
            theme: "bootstrap"
        });

        $("#hide-inactive").change(function(e){
            if (e.currentTarget.checked){
                $(".inactive").hide();
            }
            else {
                $(".inactive").show();
            }
        });
    </script>
}