@model InviteViewModel
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <section>
            <h3>Send Invite</h3>
            <form asp-controller="Admin" asp-action="Invite" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Send Invite</button>
            </form>
        </section>
    </div>
</div>