﻿<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <a href="http://www.pusheen.com">
            <img src="~/gifs/letsbake.gif" style="margin: 20px auto 20px auto; width: 100%"/>
        </a>
    </div>
</div>