@model CakeClub.Models.HomeViewModels.UpcomingViewModel
    <div id="root" class="row">
        <div class="col-lg-8 offset-lg-2 col-md-12" id="no-more-tables">
            <h4>Bakers</h4>
            @if (User.IsInRole("Administrator"))
            {
                var membersList = new SelectList(Model.Members, "Id", "FullName");
                <label>Select Member To Insert</label>
                <select class="form-control" asp-items="@membersList" id="selected-baker">
                    <option value="">-- Select a member to update week --</option>
                </select>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Baker</th>
                        @if (User.IsInRole("Administrator"))
                        {
                            <th>Reminders</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var week in Model.Weeks.OrderBy(x => x.StartDate))
                    {
                        var weekNumber = CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(week.StartDate, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
                        <tr>
                            <td data-title="Week">@weekNumber</td>
                            @if (week.BakerId.HasValue)
                            {
                                <td data-title="Name">@week.BakerFullName</td>
                            }
                            else
                            {
                                <td data-title="Name"><b>No Baker</b></td>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <td data-title="Reminders">@week.RemindersSent</td>
                            }
                        </tr>
                        @if (User.IsInRole("Administrator"))
                        {
                            <tr>
                                <td>Actions</td>
                                @if (!week.IsEventCreated)
                                {
                                    <td colspan="2" data-title="Actions">
                                        <button type="button" class="btn btn-secondary" onclick="switchWithPreviousWeek(@week.Id)">Previous</button>
                                        <button type="button" class="btn btn-secondary" onclick="switchWithNextWeek(@week.Id)">Next</button>
                                        <button type="button" class="btn btn-secondary" onclick="sendReminder(@week.Id)">Send Reminder</button>
                                        <button type="button" class="btn btn-secondary" onclick="skipWeek(@week.Id)">Skip Week</button>
                                        <button type="button" class="btn btn-secondary" onclick="removeWeek(@week.Id)">Remove Week</button>
                                        <button type="button" class="btn btn-secondary" onclick="updateBaker(@week.Id)">Change Baker To Selected</button>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @section scripts
        {
        <script>
            function postForm(action, data){
                var form = $("<form>").attr("action", action).attr("method", "POST");

                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        var input = $("<input>").attr("name", key).attr("value", data[key]);
                        form.append(input);
                    }
                }

                $(document.body).append(form);
                form.submit();
            }

            function switchWithPreviousWeek(weekId){
                postForm("@Url.Action("switchWithPreviousWeek", "Home")", { weekId: weekId });
            }

            function switchWithNextWeek(weekId){
                postForm("@Url.Action("switchWithNextWeek", "Home")", { weekId: weekId });
            }

            function skipWeek(weekId){
                postForm("@Url.Action("SkipWeek", "Home")", { weekId: weekId });
            }

            function removeWeek(weekId){
                postForm("@Url.Action("RemoveWeek", "Home")", { weekId: weekId });
            }

            function sendReminder(weekId){
                postForm("@Url.Action("SendReminder", "Home")", { weekId: weekId });
            }

            function updateBaker(weekId){
                var selectedBakerId = $("#selected-baker").val();

                if (!selectedBakerId) return;

                postForm("@Url.Action("UpdateWeek", "Home")", { weekId: weekId, selectedMemberId: selectedBakerId });
            }
        </script>
    }