@model CakeClub.Models.CakesViewModels.AddVoteViewModel
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="card">
            <h4 class="card-header">Add Vote</h4>
            <div class="card-block">
                <form asp-action="AddVote" asp-controller="Cakes" asp-route-cakeid="@Model.CakeId" method="POST">
                    @{ var memberList = new SelectList(Model.Members, "Id", "FullName"); }
                    <div class="form-group">
                        <label asp-for="MemberId">Name</label>
                        <select asp-for="MemberId" asp-items="@memberList" class="form-control">
                            <option value="">Yourself</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-2">Grade</label>
                        <div class="col-10">
                            <select asp-for="Grade">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="custom-control custom-checkbox">
                                <input asp-for="Participated" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Participated</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Add Vote</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#Grade').barrating({
            allowEmpty: true,
            initialRating: null,
            theme: 'fontawesome-stars',
            deselectable: true
        });
    });
</script>