@model CakeClub.Models.CakesViewModels.CakeViewModel
@inject CakeClub.Infrastructure.Services.UserProvider userProvider
@{
    var currentMember = await userProvider.GetCurrentMember();
    var isOwner = currentMember.Id == Model.Cake.CreatorId;
}
<div class="row">
    <div class="col-12">
        <h4>@Model.Cake.Name <small>by @Model.Cake.CreatorFirstName @Model.Cake.CreatorLastName</small>
        @if (User.IsInRole("Administrator") || isOwner)
        {
            <small><a class="pull-right" asp-action="EditCake" asp-controller="Cakes" asp-route-cakeid="@Model.Cake.Id">Edit</a></small>
        }
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12">
        <hr />
        <!--<form method="post" asp-action="UploadImage" asp-controller="Cakes" asp-route-cakeid="@Model.Cake.Id" enctype="multipart/form-data">
            <label class="custom-file">
                <input type="file" id="files" name="files" class="custom-file-input">
                <span class="custom-file-control"></span>
            </label>
            <input type="submit" class="btn btn-secondary" value="Upload" />
        </form>-->
        <div class="well-lg">
            <markdown>@Model.Cake.Recipe</markdown>
        </div>
    </div>
    <div class="col-lg-4 col-md-12" style="width: 100%; text-align: center">
        @if (Model.Cake.EventTime.AddDays(5) < DateTime.UtcNow)
        {
                <dl class="dl-horizontal">
                    <dd><h4>Grade</h4></dd>
                    <dt><h4>@(Model.Cake.Grade.HasValue ? Model.Cake.Grade.Value.ToString("0.00") : "?")</h4></dt>
                </dl>
        }
        else
        {
                <dd><h4>Grade</h4></dd>
                <dt><h4>Available soon</h4></dt>
        }
        @if (Model.Cake.EventTime < DateTime.UtcNow && !Model.HasVoted)
        {
            <a class="btn btn-secondary" asp-action="Vote" asp-controller="Cakes">Vote</a>
        }
        @if (Model.Cake.BakeSelf)
        {
            <img src="~/images/self_bake_certified.png" style="text-align: center" />
        }
    </div>
</div>
@*@if (Model.Cake.CreatorUserName.Equals(User.Identity.Name, StringComparison.OrdinalIgnoreCase))
    {
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a class="btn btn-default" asp-action="EditCake" asp-controller="Cakes" asp-route-cakeId="@Model.Cake.Id">Edit Details</a>
                </div>
            </div>
        </div>
    }*@
@if (User.IsInRole("Administrator"))
{
    <hr />
    <div class="row">
        <div class="col-12">
            <h5>Admin Section</h5>
            <div class="row">
                <div class="col-10">
                    <div class="btn-group">
                        <form asp-action="StartVoting" asp-controller="Cakes" asp-route-id="@Model.Cake.Id" method="POST">
                            <button type="submit" class="btn btn-secondary">Initiate Voting</button>
                        </form>
                        <a asp-action="AddVote" asp-controller="Cakes" asp-route-cakeid="@Model.Cake.Id" class="btn btn-secondary">Add Vote</a>
                    </div>
                </div>
                <div class="col-2">
                    <form asp-action="DeleteCake" asp-controller="Cakes" asp-route-cakeid="@Model.Cake.Id" method="POST">
                        <button type="submit" class="btn btn-danger pull-right">Delete Cake</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Participated</th>
                        <th>Grade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vote in Model.Votes)
                    {
                        <tr>
                            <td>@vote.MemberFirstName @vote.MemberLastName</td>
                            <td>@vote.Participated</td>
                            <td>@vote.Grade</td>
                            <td>
                                <form id="delete-vote-@vote.Id" asp-action="DeleteVote" asp-controller="Cakes" asp-route-id="@vote.Id" method="post"></form>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger" onclick="$('#delete-vote-@vote.Id').submit()"><i class="fa fa-trash"></i> Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}