﻿@model CakeClub.Models.CakesViewModels.CreateCakeViewModel
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <section>
            <h3>Create Cake</h3>
            <form asp-action="CreateCake" asp-controller="Cakes" method="post">
                @if (User.IsInRole("Administrator"))
                {
                    var memberList = new SelectList(Model.Members, "Id", "FullName");
                    <div class="form-group">
                        <label asp-for="MemberId">Name</label>
                        <select asp-for="MemberId" asp-items="@memberList" class="form-control">
                            <option value="">Yourself</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="VotesSent" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Vote emails have been sent</span>
                        </label>
                    </div>
                    <hr />
                }
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" autofocus autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date">Date</label>
                    <input type="text" asp-for="Date" asp-format="{0:yyyy-MM-dd}" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time">Time</label>
                    <input type="time" name="Time" id="Time" class="form-control" autocomplete="off" value="14:00" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recipe">Recipe</label>
                    <textarea asp-for="Recipe" class="form-control" rows="10" autocomplete="off" placeholder="Write recipe here using Markdown..."></textarea>
                    <span asp-validation-for="Recipe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="BakeSelf" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Is Self Baked</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Create Cake</button>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <script>
        //var picker = new Pikaday({ field: document.getElementById('Date') });
        $("#Date").datetimepicker({
            datepicker:true,
            timepicker:false,
            format:'Y-m-d',
            defaultDate: new Date(),
            minDate: new Date()
        });

        $("#Time").datetimepicker({
            datepicker:false,
            format:'H:i',
            defaultTime:'13:55'
        });
    </script>
}