@model CakeClub.Models.CakesViewModels.CakesViewModel
<div class="row">
    <div class="col-12">
        <section>
            <div id="calendar"></div>
        </section>
    </div>
</div>
@section scripts {
<script>
    "use strict";
    $(function () {
        var data = @Json.Serialize(Model.Cakes);

        var events = [];
        for (var i = 0; i < data.length; i++){
            events.push({
                id: i,
                url: "/Cakes/" + data[i].id,
                title: data[i].name,
                start: new Date(data[i].eventTime).getTime(),
                end: new Date(data[i].eventTime).getTime()
            });
        }

        $('#calendar').fullCalendar({
            height: "auto",
            locale: 'da',
            timezone: 'local',
            eventColor: '#F9A6AF',
            eventTextColor: '#555555',
            eventBackgroundColor: '#F9A6A0',
            header: {
                left: 'prev,next today createCakeButton',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            customButtons: {
                createCakeButton: {
                    text: 'Create Cake',
                    click: function() {
                        window.location.href = "/Cakes/CreateCake";
                    }
                }
            },
            defaultDate: new Date(),
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: events,
            weekends: false,
            dayClick: function (event) {
                // Prevent cakes in the past
                if (moment(event) < new moment()) return;
                var time = moment(event).hour(13).minute(55);
                window.location.href = "/Cakes/CreateCake?time=" + time.format();
            }
        });
    });
</script> }