﻿@model int
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <section>
            <h4>Thanks for your vote!</h4>
            View the cake <a asp-for="Cake" asp-controller="Cakes" asp-route-cakeId="@Model">here</a>.      
        </section>
    </div>
</div>