@model ForgotPasswordViewModel
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="card">
            <h5 class="card-header">Forgot Your Password?</h5>
            <div class="card-block">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" autocomplete="off" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>