@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-block">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group row">
                        <label class="col-2">Email</label>
                        <div class="col-10">
                            <input asp-for="Email" class="form-control" required autofocus />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2">Password</label>
                        <div class="col-10">
                            <input asp-for="Password" class="form-control" required />
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <!--<div class="form-group row">
                        <div class="col-12">
                            <label class="custom-control custom-checkbox">
                                <input asp-for="RememberMe" class="custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@Html.DisplayNameFor(m => m.RememberMe)</span>
                            </label>
                        </div>
                    </div>-->
                    <button type="submit" class="btn btn-primary form-control">Log in</button>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>