@model ResetPasswordViewModel
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <h5 class="card-header">Reset Password</h5>
                <div class="card-block">
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="Code" />
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" autocomplete="off" />
                            <span class="form-control-feedback" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" class="form-control" autocomplete="off" required />
                            <span class="form-control-feedback" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span class="form-control-feedback" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        @if (ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="has-danger">
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
                                {
                                    <span class="form-control-feedback">@error.ErrorMessage</span><br />
                                }
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>