<div class="row">
    <div class="col-6 offset-3">
        <h4>Reset Password Confirmation</h4>
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </div>
</div>