@model CakeClub.Models.AccountViewModels.SetupViewModel
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="card">
            <h5 class="card-header">Account Setup</h5>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        Your email has been confirmed. Please, enter your name and specify a password for your account.
                    </div>
                </div>
                <form asp-controller="Account" asp-action="Setup" method="post" asp-route-userId="@ViewData["userId"]" asp-route-code="@ViewData["code"]" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Complete Setup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>