﻿html {
    min-height: 100%;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
}



@media (max-width: 768px) {
    .footer {
        position: relative;
    }

    .fc-center, .fc-right, .fc-left {
        width: 100%;
    }

    .fc-month-button, .fc-agendaWeek-button, .fc-agendaDay-button, .fc-listMonth-button {
        width: 25%;
    }

    .fc-right {
        float: left !important;
    }

    .fc-toolbar, .fc-button-group {
        width: 100%;
    }

    .fc-prev-button, .fc-next-button {
        width: 50%;
    }

    .fc-today-button, .fc-createCakeButton-button {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}