@model IEnumerable<CakeDto>
<div class="row">
    <div class="col-12">
        <table id="all-cakes" class="table table-sm table-striped">  
            <thead> 
                <tr>     
                    <th>Member</th>          
                    <th class="w-25">Bake Date</th>          
                    <th>Cake</th>          
                    <th>Score</th>          
                </tr>                                                       
            </thead>                                                      
            <tbody>
                @foreach (var cake in Model.OrderByDescending(x => x.EventTime))
                {
                    <tr>
                        <td>@cake.CreatorFirstName @cake.CreatorLastName</td>
                        <td>@cake.EventTime.ToString("d MMMM yyyy")</td>
                        <td>@cake.Name</td>
                        <td>@(cake.Grade.HasValue ? cake.Grade.Value.ToString("0.00") : "")</td>
                    </tr>
                }                                                    
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $("#all-cakes").tablesorter({
            theme: "bootstrap"
        });
    </script>
}