﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CakeClub.Models.StatisticsViewModels.GraphViewModel
<canvas id="chart"></canvas>
@section scripts
{
    <script>
        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data));

        let labels = [];
        let datasets = [];

        let colors = ["rgba(75,192,192,0.4)", "rgba(150,50,192,0.4)"]

        let keys = Object.keys(model);

        keys.forEach(function(key){
            model[key].forEach(function(cake){
                labels.push(new Date(cake.Created));
            });
        });

        labels = labels.sort(function(a,b){ return a - b;});

        keys.forEach(function(key){
            var dataset = {
                backgroundColor: colors.splice(0, 1)[0],
                label: key,
                data: [],
                spanGaps: true
            };

            labels.forEach(function(label){
                var cake = model[key].find(function(cake) {
                    return new Date(cake.Created).getTime() === label.getTime();
                });

                if (cake){
                    dataset.data.push(cake.Grade);
                }
                else {
                    dataset.data.push(null);
                }
            });

            datasets.push(dataset);
        });

        var element = document.getElementById("chart");
        $(function () {
            var chart = new Chart(element, {
                type: "line",
                data: {
                    labels: labels.map(function(a){ return a.toDateString();}),
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 10
                            }
                        }]
                    }
                }
            });
        });
    </script>
}