@model CakeClub.Models.StatisticsViewModels.IndexViewModel
<div class="row">
    <div class="col-lg-8 col-md-12" id="no-more-tables">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Name</th>
                    <!--<th>Bake Date</th>-->
                    <th>Cake</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= Model.CurrentRankings.Count; i++)
                {
                    var cake = Model.CurrentRankings[i - 1];
                    <tr>
                        <td data-title="Rank">@i</td>
                        <td data-title="Name">@cake.CreatorFirstName @cake.CreatorLastName</td>
                        <!--<td>@cake.EventTime.ToString("yyyy-MM-dd")</td>-->
                        <td data-title="Cake">@cake.Name</td>
                        <td data-title="Grade">@cake.Grade.Value.ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-md-12">
        <table class="table table-sm">
            <tr>
                <th>Active members</th>
                <td>@Model.ActiveMembers</td>
            </tr>
            <tr>
                <th>Total Members</th>
                <td>@Model.TotalMembers</td>
            </tr>
            <tr>
                <th>Cakes</th>
                <td>@Model.TotalCakes</td>
            </tr>
            <tr>
                <th>Weeks</th>
                <td>@Model.TotalWeeks</td>
            </tr>
            <tr>
                <th>Cake/week rate</th>
                <td>@(((double)Model.TotalCakes / Model.TotalWeeks).ToString("0.00"))</td>
            </tr>
            <tr>
                <th>Ranked cakes</th>
                <td>@Model.RankedCakes</td>
            </tr>
            <tr>
                <th>Average cake score</th>
                <td>@Model.AverageCakeGrade.Value.ToString("0.00")</td>
            </tr>
            <tr>
                <th>Top cake score</th>
                <td>@Model.TopCakeGrade.Value.ToString("0.00")</td>
            </tr>
            <tr>
                <th>Lowest cake score</th>
                <td>@Model.LowestCakeGrade.Value.ToString("0.00")</td>
            </tr>
        </table>
        <h5>Members</h5>
        <span class="disabled-link" href="members_by_alp.html">Current Members</span><br />
        <span href="previous_members_by_alp.html">Previous Members</span><br />
        <span class="full-width disabled-link" href="previous_members_by_depart.html">Previous Members by signout</span><br />
        <span class="full-width disabled-link" href="members_by_join.html">All members by join</span><br />
        <span class="full-width disabled-link" href="members_by_membership.html">All members by membership length</span><br />
        <span class="full-width disabled-link" href="all_members_by_best_cake.html">All members by best Cake</span><br />
        <span class="full-width disabled-link" href="active_members_by_best_cake.html">Active members by best Cake</span><br />
        <span class="full-width disabled-link" href="active_members_by_avg_cake.html">Active members by Cake average</span><br />
        <span class="full-width disabled-link" href="all_members_by_avg_cake.html">All members by Cake average</span><br />
        <span class="full-width disabled-link" href="members_by_avgvote.html">All members by average vote</span><br />
        <span class="full-width disabled-link" href="members_by_avgnselfvote.html">All members by average vote on OWN cakes</span><br />
        <span class="full-width disabled-link" href="members_by_replies.html">All members by vote replies</span><br />
        <span class="full-width disabled-link" href="members_by_part.html">All members by participation</span><br />
        <span class="full-width disabled-link" href="members_by_firstpos.html">All members by 1. positions</span><br />
        <br />
        <h5>Cakes</h5>
        <a asp-action="AllCakes" asp-controller="Statistics">List of all</a><br />
        <span class="full-width disabled-link" href="cakes_besttotal.html">Highest Scores</span><br />
        <span class="full-width disabled-link" href="cakes_lowest.html">Lowest Scores</span><br />
        <span class="full-width disabled-link" href="cakes_most10.html">Most 10's</span><br />
        <span class="full-width disabled-link" href="cakes_bestofyear.html">Best of the year</span>
    </div>
</div>