﻿@inject SignInManager<User> SignInManager
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cake Club</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="~/css/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/fontawesome-stars.css" />
        <link rel="stylesheet" href="~/css/pikaday.min.css" />
        <link rel="stylesheet" href="~/css/cakeclub.css" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/theme.bootstrap_4.min.css" />
        <link rel="stylesheet" href="~/css/jquery.datetimepicker.min.css" />
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/jquery.barrating.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">CakeClub</a>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Upcoming">Upcoming</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" asp-controller="Cakes" asp-action="Index">Calendar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" asp-controller="Statistics" asp-action="Index">Statistics</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Invite">Send Invite</a>
                                    </div>
                                </li>
                            }
                        </ul>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </nav>
            </div>
            <div class="container-fluid" style="margin: 20px auto auto auto">
                @RenderBody()
            </div>
        </div>
        <!--<footer class="footer">
            <i>Gifs are from <a href="http://www.pusheen.com">Pusheen</a> © 2010 - 2015.</i>
        </footer>-->

        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/jquery.tablesorter.min.js"></script>
        <script src="~/js/jquery.tablesorter.widgets.min.js"></script>
        <script src="~/js/jquery.datetimepicker.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/moment-with-locales.min.js"></script>
        <script src="~/js/fullcalendar.min.js"></script>
        <script src="~/js/vue.min.js"></script>
        <script src="~/js/lodash.min.js"></script>
        <script src="~/js/pikaday.min.js"></script>
        <script src="~/js/site.js"></script>

        @RenderSection("scripts", required: false)
    </body>

</html>