@using Microsoft.AspNetCore.Identity
@using CakeClub.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @UserManager.GetUserName(User)!</a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-controller="Account" asp-action="ForgotPassword">Change Password</a>
            <a class="dropdown-item" asp-controller="Account" asp-action="LogOff">Log off</a>
        </div>
    </li>
}
else
{
    <li class="nav-item pull-right">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
    </li>
}
</ul>